<style>
    * {
        font-family: Arial;
    }
    .menu {
        background-color: lightblue;
        border: 5px darkblue solid;
        border-radius: 0.5rem;
        padding: 1rem 0;
    }

    .menu a{
        color:white;
        text-decoration: none;
        font-size: 24px;
        padding:1.1rem;
        font-weight: bolder;
    }

    .menu a:hover{
        color:lightblue;
        background-color: darkblue;
    }
</style>
<nav class="menu">
    <a routerLink="/" routerLinkActive="active">Inicio</a>
    <a routerLink="/usuarios" routerLinkActive="active">Usuarios</a>
</nav>
