.navbar {
  justify-content: start;
  margin-bottom: 1rem;
  align-items: center;
  display: flex;
  gap: 0.5rem;
}

.navbar-menu {
  background-color: var(--primary-color);
  border: 5px var(--white-color) solid;
  border-radius: 0.5rem;
  padding: 1rem 0;
  width: 100%;
}

.navbar-menu a {
  color: var(--white-color);
  text-decoration: none;
  font-weight: bolder;
  font-size: 24px;
  padding: 1.1rem;
}

.active {
  background-color: var(--tertiary-color);
}

svg {
  background-color: var(--primary-color);
  border: 5px var(--white-color) solid;
  border-radius: 0.5rem;
  fill: var(--white-color);
  cursor: pointer;
  padding: 0.5rem;
  width: 2.9rem;
}

svg:hover {
  background-color: var(--white-color);
  fill: var(--primary-color);
}
