.table-record {
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 78vh;
}

.table-record::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.record {
    margin: 0.5rem;
    background-color: rgb(94, 190, 15);
    border: 4px solid white;
    border-radius: 1rem;
    padding: 1rem;
    font-size: 25px;
    position: relative;
    width: 85%;
}

ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    gap: 0.5rem;
    width: 100%;
}


li {
    display: flex;
}

li span {
    font-weight: bolder;
}

li span::after {
    content: ":";
    margin-right: 0.5rem;
}

.table-record-buttons {
    display: flex;
    flex-direction: row;
    padding: 0.5rem;
    position: absolute;
    gap:0.5rem;
    top: 0;
    right: 0;
}

.buttons {
    fill: rgb(67, 77, 221);
    height: 2rem;
    width: 2rem;
    padding: 0.2rem;
    cursor: pointer;
    transition: 0.3s all;
    background-color: lightgreen;
    border-radius: 0.5rem;
    border: 3px solid white;
}

.remove-button:hover{
    fill: red;
    transform: scale(1.1);
}

.edit-button:hover{
    fill: orange;
    transform: scale(1.1);
}